#root {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
    url("../images/hogwarts_background.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-color: black; 
  font-family: 'Nova Cut', cursive;
}

.header_logo {
  display: flex;
  justify-content: center; 
  align-items: center; 
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.9)); 
}

.hp_logo{
  width: 300px;
  margin-top: 50px;
  align-items: center;
}

.character_list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  padding: 50px;
}

.character_card{
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  background-color: rgba(197, 112, 9, 0.8);
  color: white;
  text-decoration: none;
}

.character_img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.character_name{
  font-size: 22px;
  color: white;
  
}

.character_species{
  font-size: 18px;
  font-weight: lighter;
  color: white;
}

a {
  text-decoration: none; 
}

@media (max-width:480px){
  .character_list{
  grid-template-columns: repeat(2,1fr);}

  .character_card{
    width: 150px;}
  .character_img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: top;
  }
  .character_name{
    font-size: 18px;
   
  }
  
  .character_species{
    font-size: 16px;
    
  }

}

.detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
  margin-top: 50px;
}

.detail_card{
  width: 500px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color:rgba(136, 24, 24, 0.903);
  gap: 20px;
  border-radius: 10px;
  
}

.detail_img{
  width: 200px;
  padding: 10px;
}

.detail_data{

  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}
.detail_characters{
  list-style-type: none;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 0;

}

.back_btn{
  background-color: rgba(197, 112, 9, 0.8);
  color: white;
  width: 170px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  font-size: 18px;
}

.back_btn:hover {
  background-color: white;
  color: rgba(197, 112, 9, 1);

}

@media (max-width:480px){

 
  
  .detail_card{
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:rgba(136, 24, 24, 0.903);
    border-radius: 10px;
    
  }
  
  .detail_img{
    width: 160px;
    padding: 10px;
  }
  
  .detail_data{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 0;
    
  }
  
  .back_btn{
    background-color: rgba(197, 112, 9, 0.8);
    color: white;
    width: 170px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    font-size: 18px;
  }
  
  .back_btn:hover {
    background-color: white;
    color: rgba(197, 112, 9, 1);
  
  }

}

.list_message{
  color: white;
  text-align: center;
  margin-top: 20px;
}

.error_message{
  color: white;
  text-align: center;
  margin-top: 20px;
}

.reset_btn{
  width: 135px;
  margin: 20px;
  background-color: rgba(136, 24, 24, 0.903);
  color: white;
  padding: 6px 11px;
  border: 2px solid rgba(136, 24, 24, 0.903);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.reset_btn:hover{
  background-color: rgba(197, 112, 9, 0.8);
  color: white;
  border: 2px solid rgba(197, 112, 9, 0.8);
}

.main_filters{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

}

.filter_name{
  margin:10px;
  display: flex;
  gap: 10px;
  
}

.filter_name_label{
  color: white;
  font-size: 18px;
}

.filter_name_input{
  padding: 2px;
  font-size: 14px;
  border: 2px solid rgba(197, 112, 9, 0.8);
  border-radius: 10px;
}

.filter_name_input:focus{
  border-color: rgba(136, 24, 24, 0.903);
  color: rgba(136, 24, 24, 0.903);
}

.filter_house{
  margin:10px;
  display: flex;
  gap: 10px;
}

.filter_house_label{
  color: white;
  font-size: 18px;
}