.error_message{
    color: white;
    text-align: center;
    margin-top: 20px;
  }

  .list_message{
    color: white;
    text-align: center;
    margin-top: 20px;
  }
  .character_list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 50px;
  }
  
  .character_card{
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    background-color: rgba(197, 112, 9, 0.8);
    color: white;
    text-decoration: none;
  }
  
  .character_img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
  }
  
  .character_name{
    font-size: 22px;
    color: white;
    
  }
  
  .character_species{
    font-size: 18px;
    font-weight: lighter;
    color: white;
  }
  
  a {
    text-decoration: none; 
  }
  
  @media (max-width:480px){
    .character_list{
    grid-template-columns: repeat(2,1fr);}
  
    .character_card{
      width: 150px;}
    .character_img{
      width: 100%;
      height: 150px;
      object-fit: cover;
      object-position: top;
    }
    .character_name{
      font-size: 18px;
     
    }
    
    .character_species{
      font-size: 16px;
      
    }
  
  }